<article class="post">
  <h2>Some post title</h2>
  <h3 class="slug">/some-post-title</h3>
  <div class="content">
    <p>Blah blah blah blah</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, dolores, quidem. Nobis molestiae, rerum quibusdam, aut commodi dolore vel hic! Ducimus quibusdam vitae minima quidem sed optio minus dolorem architecto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id ratione assumenda ea dolorum consequatur, enim fuga officia velit at, dicta corrupti ut minima sit, autem, earum aperiam iusto minus?</p>
  </div>
</article>