<p class="notification">
  Please be advised of something or other.
</p>

<p class="error">
  OMG something or other.
</p>

<p class="success">
  Yay something or other!
</p>

<h1>My Crazy Blog About Hashtag Life</h1>

<article class="post">
  <h2>Some post title</h2>
  <h3 class="slug">/some-post-title</h3>
  <h4 class="date">January 1 1970</h4>
  <div class="content">
    <p>Blah blah blah blah</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, dolores, quidem. Nobis molestiae, rerum quibusdam, aut commodi dolore vel hic! Ducimus quibusdam vitae minima quidem sed optio minus dolorem architecto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id ratione assumenda ea dolorum consequatur, enim fuga officia velit at, dicta corrupti ut minima sit, autem, earum aperiam iusto minus?</p>
  </div>
</article>

<article class="post">
  <h2>Some post title</h2>
  <h3 class="slug">/some-post-title</h3>
  <h4 class="date">January 1 1970</h4>
  <div class="content">
    <p>Blah blah blah blah</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, dolores, quidem. Nobis molestiae, rerum quibusdam, aut commodi dolore vel hic! Ducimus quibusdam vitae minima quidem sed optio minus dolorem architecto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id ratione assumenda ea dolorum consequatur, enim fuga officia velit at, dicta corrupti ut minima sit, autem, earum aperiam iusto minus?</p>
  </div>
</article>