<form action="/planets" method="post">
  <p>Name: <input type="text" name="planet[name]" autofocus></p>
  <p>Image: <input type="url" name="planet[image]"></p>
  <p>Orbit: <input type="text" name="planet[orbit]"></p>
  <p>Diameter: <input type="text" name="planet[diameter]"></p>
  <p>Mass: <input type="text" name="planet[mass]"></p>
  <p>Moons: <input type="number" name="planet[moons]"></p>
  <p><button>Planet me</button></p>
</form>