<form action="/planets" method="post">
  <p>Name: <input type="text" name="name" autofocus></p>
  <p>Image: <input type="url" name="image"></p>
  <p>Orbit: <input type="text" name="orbit"></p>
  <p>Diameter: <input type="text" name="diameter"></p>
  <p>Mass: <input type="text" name="mass"></p>
  <p>Moons: <input type="number" name="moons"></p>
  <p><button>Planet me</button></p>
</form>