<h2>FAQ</h2>

<h3>Why is a mouse when it spins?</h3>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, sint, nisi, velit ullam quae inventore aspernatur ratione iure impedit optio saepe ut nemo delectus minus sit aliquam temporibus totam reiciendis.
</p>

<h3>Why is a raven like a writing desk?</h3>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequatur in natus praesentium dolores! Dicta, consequuntur, voluptates voluptas mollitia nemo distinctio iusto eligendi libero fugit necessitatibus ab tempore provident vel.
</p>