  <nav>
    <ul>
      <li><a href="#">Home</a></li>
    </ul>
  </nav>

  <div id="main">
  </div>

  <script id="app-template" type="text/handlebars-template">
    <h1>Recent posts</h1>
    <ul id="posts"></ul>
  </script>

  <script id="list-template" type="text/handlebars-template">
    <span>{{ title }}</span>
  </script>

  <script id="post-template" type="text/handlebars-template">
    <article>
      <h1>{{ title }}</h1>
      <div>{{ content }}</div>
    </article>
  </script>
