<form action="/results" method="get">
  <input name="first" placeholder="First number">
  <input name="operator" placeholder="operator">
  <input name="second" placeholder="Second number">

  <button>Calculate!</button>
</form>
