<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <h1>Sinatra Calculator</h1>

    <nav>
      <a href="/">Home</a>
      <a href="/calc">Calc page</a>
      <a href="/about">About</a>
    </nav>

    <%= yield %>

  </body>
</html>
