<% @butterflies.each do |butterfly| %>
  <div class="butterfly">
    <h3>
      <a href="/butterflies/<%= butterfly['id'] %>">
        <%= butterfly['name'] %>
      </a>
    </h3>
    <img src="<%= butterfly['image'] %>">
  </div>
<% end %>