.box {
  width: 4em;
  height: 4em;
  border: 1px solid black;
  display: inline-block;
}

.pixel {
  width: 10px;
  height: 10px;
  margin: 1px;
  display: inline-block;
  border: 1px dotted black;
}
