<h1>AJAX Review</h1>

<h2 id="magic_number"></h2>

<%= button_to('Visit a brother', brothers_path, :method => 'get') %>

<button id="get_brother">Get a brother</button>

<%= button_to('Magic brother', '/brothers.json', :method => 'get',
              :remote => true, :id => 'magic-brother') %>

<div id="brothers"></div>
