<h3>Search for a movie</h3>
<form action="/search">
  <label for="title">Movie title:</label>
  <input type="search" name="title" value="<%= @title.gsub('+', ' ') if @title %> ">
  <button>Search</button>
</form>