<h1>Receipt Statistics</h1>

<table>
  <thead>
    <tr>
      <td>Statistic</td>
      <td>Value</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Max cost</td>
      <td><%= @max %></td>
    </tr>
    <tr>
      <td>Min cost</td>
      <td><%= @min %></td>
    </tr>
    <tr>
      <td>Average cost</td>
      <td><%= @average %></td>
    </tr>
    <tr>
      <td>Number of receipts</td>
      <td><%= @count %></td>
    </tr>
  </tbody>
</table>