.notification {
  border: 1px solid #999;
  font-size: 10px;
  padding: 1em;
}

.error {
  @extend .notification;
  color: red;
  background-color: yellow;
}

.success {
  @extend .notification;
  font-color: #00cc00;
  background-color: #ccf;
}

$brand-color: #0a0;
$margin-centered: 0px auto;
$margin-size: 100px;

@mixin content {
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 0;
  border: 1px solid green;
  border-radius: 1em;
}

@mixin indent($left) {
  margin-left: $left;
  padding-left: 0;
}

h1 {
  color: $brand-color;
  width: 50%;
  margin: $margin-centered;
}

.post {
  padding: 0px 30px;
  border-top: 1px dashed pink;

  .slug {
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }

  .date {
    color: $brand-color;
    @include indent(40px);
  }

  .content {
    @include content;

    p {
     margin-top: $margin-size * 2/3;
    }

    p:hover {
     background-color: #eee;
    }
  }
}
